body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
h1 {
    font-size: 2.5em;
}
input {
    font-size: 1.5em;
    padding: 10px;
    margin: 10px 10px 20px;
    width: 300px;
}
button {
    font-size: 1.5em;
    padding: 10px 20px;
}
p {
    font-size: 1.5em;
    margin-top: 20px;
}
